@model MaterEmergencyCareCentreApp.Models.CommentDtoViewModel

@{
    ViewData["Title"] = "AddComment";
}

<h1>Add Comment</h1>

<h4>For Patient @Model.PatientId @Model.Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CommentTime" class="control-label"></label>
                <input asp-for="CommentTime" class="form-control" />
                <span asp-validation-for="CommentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nurse" class="control-label"></label>
                <input asp-for="Nurse" class="form-control" />
                <span asp-validation-for="Nurse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
