@{
    ViewData["Title"] = "Mater Emergency Care Centre (MECC) Board";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Mater Emergency Care Centre (MECC) Board</h1>
    <p>Below is a list of all eight beds and who are the patients that are in them.</p>
</div>
